{% extends "enroll/base.html" %} {% block content %}
<div class="row">
  <div class="col-sm-4 mb-4">
    <div class="card shadow">
      <h4 class="card-header text-center bg-primary text-white">
        Add New Student
      </h4>
      <div class="card-body">
        <form action="" method="POST">
          {% csrf_token %} {{form.as_p}}
          <div class="text-center mt-3">
            <input type="submit" class="btn btn-success btn-lg" value="Add" />
          </div>
        </form>
      </div>
    </div>
  </div>

  {% comment %} Update Section {% endcomment %}

  <div class="col-sm-8 offset-0">
    <div class="card shadow">
      <h4 class="card-header text-center bg-primary text-white">
        Show Student Data
      </h4>
      <div class="card-body">
        {% if stu %}
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Enrollment</th>
                <th scope="col">Password</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for st in stu %}
              <tr>
                <th scope="row">{{st.id}}</th>
                <td>{{st.name}}</td>
                <td>{{st.email}}</td>
                <td>{{st.enrollment}}</td>
                <td>{{st.password}}</td>
                <td>{{st.date}}</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a
                      href="{% url 'updatedata' st.id %}"
                      class="btn btn-success btn-sm"
                      >Update</a
                    >
                    <form
                      action="{% url 'deletedata' st.id %}"
                      method="post"
                      class="d-inline"
                      value="Delete"
                    >
                      {% csrf_token %}
                      <input
                        type="submit"
                        class="btn btn-danger btn-sm"
                        value="Delete"
                      />
                    </form>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="text-center text-info">
          <h4>Data Not found</h4>
        </div>
        {% endif %}
      </div>
      {% comment %} Pagination Section {% endcomment %}
      <div class="pagination mb-1 justify-content-center">
        <span class="step-links">
          {% if stu.has_previous %}
          <a
            href="?page={{ stu.previous_page_number }}"
            class="btn btn-secondary btn-sm mx-1"
            >Previous</a
          >
          {% endif %}

          <span class="current mx-2">
            Page {{ stu.number }} of {{ stu.paginator.num_pages }}.
          </span>

          {% if stu.has_next %}
          <a
            href="?page={{ stu.next_page_number }}"
            class="btn btn-secondary btn-sm mx-1"
            >Next</a
          >
          {% endif %}
        </span>
        <form class="d-flex justify-content" method="get" action="">
          {% csrf_token %}
          <label for="jump-page" class="ml-3">Jump to page:</label>
          <input
            type="number"
            name="page"
            id="jump-page"
            min="1"
            max="{{ stu.paginator.num_pages }}"
            value="{{ stu.number }}"
            class="form-control ml-1"
            style="width: 60px"
          />
          <div class="text-center">
          <button type="submit" class="btn btn-primary">GO</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
